<%= stylesheet_link_tag 'home', :media => "all", 'data-turbolinks-track': 'reload' %>
<header>
  <ul class="global">
    <div class="inline-block_test">
      家のアイコン(仮)
    </div>
    <div class="inline-block_test">
      検索のアイコン(仮)
    </div>
    <div class="inline-block_test">
      お気に入りのアイコン(仮)
    </div>
    <div class="inline-block_test">
      ユーザーのアイコン(仮)
    </div>
  </ul>
</header>

<main>
  <p>
  投稿①
  </p>
  <p>
    投稿②
  </p>
  <p>
    投稿③
  </p>
  <p>
    投稿④
  </p>
</main>

<footer>
  フッターです。
</footer>
