.text-center, .field, .actions, .links {
    text-align: center;
    margin-bottom: 26px;
}

.actions {
    margin-bottom: 26px;
}

.actions .text {
    text-align: left;
    display: inline-block;
    font-size:14px;
}